{% extends "layout.html" %}

{% block body %}
<div class ="container">
    <div class="row">
      <!-- the p class has to exist before, because innerHTML is changed by javascript that is following -->
      <p class="text-left" id="welcome">
      <h3>Welcome <strong>
      {{firstname}} {{lastname}}
      </strong></h3></p>
    </div>
</div>

<div class ="container">
  <form class="form-horizontal" action="create_job_hours" method="post"> <!--TODO: EDIT-->
    <div class="form-group">
      <label class="control-label col-sm-2" for="Name">Name:</label>
      <div class="col-sm-6">
        <input class="form-control" name="name" value="{{firstname}} {{lastname}}" disabled>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="mail">Email:</label>
      <div class="col-sm-6">
        <input class="form-control" name="mail" value="{{email}}" disabled>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="jobname">Job Name:</label>
      <div class="col-sm-6">
        <input class="form-control" name="jobname" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="jobname">Faculty:</label>
      <div class="col-sm-6">
        <select name='fac' class="form-control">
          <option value="0">Thelogische Fakultät</option>
          <option value="1">Juristische Fakultät</option>
          <option value="2">Medizinische Fakultät</option>
          <option value="3">Philosophische Fakultät</option>
          <option value="4">Fakultät für Mathematik und Informatik</option>
          <option value="5">Fakultät für Physik</option>
          <option value="6">Fakultät für Chemie</option>
          <option value="7">Fakultät für Geowissenschaften und Geologie</option>
          <option value="8">Fakultät für Biologie und Psychologie</option>
          <option value="9">Fakultät für Forstwissenschaften und Waldökologie</option>
          <option value="10">Fakultät für Argrarwissenschaften</option>
          <option value="11">Wirtschaftswissenschaftliche Fakultät</option>
          <option value="12">Sozialwissenschaftliche Fakultät</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="start">Start Date:</label>
      <div class="col-sm-2">
        <select name='startD' class="form-control">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select>
      </div>
      <div class="col-sm-2">
        <select name="startM" class="form-control">
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
          <option value="6">June</option>
          <option value="7">July</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
     </div>
     <div class="col-sm-2">
       <select name="startY" class="form-control">
         {% for year in years %}
         <option value="{{year}}">{{year}}</option>
         {% endfor %}
       </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="end">End Date:</label>
      <div class="col-sm-2">
        <select name="endD" class="form-control">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select>
      </div>
      <div class="col-sm-2">
        <select name="endM" class="form-control">
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
          <option value="6">June</option>
          <option value="7">July</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
     </div>
     <div class="col-sm-2">
       <select name="endY" class="form-control">
         {% for year in years %}
         <option value="{{year}}">{{year}}</option>
         {% endfor %}
       </select>
    </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Next ></button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
