{% extends "layout.html" %}

{% block body %}
<div class ="container">
    <div class="row">
      <!-- the p class has to exist before, because innerHTML is changed by javascript that is following -->
      <p class="text-left" id="welcome">
      <h3>Welcome <strong>
      {{firstname}} {{lastname}}
      </strong></h3></p>
    </div>
</div>

<div class ="container">
  <form class="form-horizontal" action="create_job_submit" method="post"> <!--TODO: EDIT-->
    <div class="form-group">
      <label class="control-label col-sm-2" for="Name">Name:</label>
      <div class="col-sm-6">
        <input class="form-control" name="name" value="{{firstname}} {{lastname}}" readonly>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="mail">Email:</label>
      <div class="col-sm-6">
        <input class="form-control" name="mail" value="{{email}}" readonly>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="jobname">Job Name:</label>
      <div class="col-sm-6">
        <input class="form-control" name="jobname" value="{{jobname}}" readonly>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="jobname">Faculty:</label>
      <div class="col-sm-6">
        <input class="form-control" name="fac" value="{{faculty}}" readonly>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="start">Start Date:</label>
      <div class="col-sm-6">
        <input class="form-control" name="startdate" value="{{startdate}}" readonly>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="end">End Date:</label>
      <div class="col-sm-6">
        <input class="form-control" name="enddate" value="{{enddate}}" readonly>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="month">Working hours per month:</label>
      {% for month in months %}
      <div class="col-sm-6">
        <input class="form-control" name="months-{{month}}" value="{{month}}" readonly>
        <input class="form-control" name="hours-{{month}}" required> <br>
      </div>
      {% endfor %}
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
        <button type="submit" class="btn btn-default">Create Job></button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
