{% extends "layout.html" %}

{% block body %}
<div class ="container">
    <div class="row">
      <!-- the p class has to exist before, because innerHTML is changed by javascript that is following -->
      <p class="text-left" id="welcome">
      <h3>Welcome <strong>
      {{firstname}} {{lastname}}
      </strong></h3></p>
    </div>
</div>
<br>
<div class ="container">
  <form class="form-horizontal" action="edit_job_hours?job={{jobid}}" method="post"> <!--TODO: EDIT-->
    <div class="form-group">
      <label class="control-label col-sm-2" for="Name">Name:</label>
      <div class="col-sm-6">
        <input class="form-control" name="name" value="{{firstname}} {{lastname}}" readonly>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="mail">Email:</label>
      <div class="col-sm-6">
        <input class="form-control" name="mail" value="{{email}}" readonly>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="jobname">Job Name:</label>
      <div class="col-sm-6">
        <input class="form-control" name="jobname" value="{{jobname}}" readonly>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="fac">Faculty:</label>
      <div class="col-sm-6">
        <input class="form-control" name="fac" value="{{faculty}}" readonly>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="start">Start Date:</label>
      <div class="col-sm-6">
        <input class="form-control" name="startdate" value="{{startdate.strftime('%Y-%m-%d')}}" readonly>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="start">Old End Date:</label>
      <div class="col-sm-6">
        <input class="form-control" name="oldenddate" value="{{enddate.strftime('%Y-%m-%d')}}" readonly>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="end">New End Date:</label>
      <div class="col-sm-2">
        <select name="endD" class="form-control">
          <option value="1"  {% if enddate.day == 1  %} selected {% endif %}>1</option>
          <option value="2"  {% if enddate.day == 2  %} selected {% endif %}>2</option>
          <option value="3"  {% if enddate.day == 3  %} selected {% endif %}>3</option>
          <option value="4"  {% if enddate.day == 4  %} selected {% endif %}>4</option>
          <option value="5"  {% if enddate.day == 5  %} selected {% endif %}>5</option>
          <option value="6"  {% if enddate.day == 6  %} selected {% endif %}>6</option>
          <option value="7"  {% if enddate.day == 7  %} selected {% endif %}>7</option>
          <option value="8"  {% if enddate.day == 8  %} selected {% endif %}>8</option>
          <option value="9"  {% if enddate.day == 9  %} selected {% endif %}>9</option>
          <option value="10" {% if enddate.day == 10 %} selected {% endif %}>10</option>
          <option value="11" {% if enddate.day == 11 %} selected {% endif %}>11</option>
          <option value="12" {% if enddate.day == 12 %} selected {% endif %}>12</option>
          <option value="13" {% if enddate.day == 13 %} selected {% endif %}>13</option>
          <option value="14" {% if enddate.day == 14 %} selected {% endif %}>14</option>
          <option value="15" {% if enddate.day == 15 %} selected {% endif %}>15</option>
          <option value="16" {% if enddate.day == 16 %} selected {% endif %}>16</option>
          <option value="17" {% if enddate.day == 17 %} selected {% endif %}>17</option>
          <option value="18" {% if enddate.day == 18 %} selected {% endif %}>18</option>
          <option value="19" {% if enddate.day == 19 %} selected {% endif %}>19</option>
          <option value="20" {% if enddate.day == 20 %} selected {% endif %}>20</option>
          <option value="21" {% if enddate.day == 21 %} selected {% endif %}>21</option>
          <option value="22" {% if enddate.day == 22 %} selected {% endif %}>22</option>
          <option value="23" {% if enddate.day == 23 %} selected {% endif %}>23</option>
          <option value="24" {% if enddate.day == 24 %} selected {% endif %}>24</option>
          <option value="25" {% if enddate.day == 25 %} selected {% endif %}>25</option>
          <option value="26" {% if enddate.day == 26 %} selected {% endif %}>26</option>
          <option value="27" {% if enddate.day == 27 %} selected {% endif %}>27</option>
          <option value="28" {% if enddate.day == 28 %} selected {% endif %}>28</option>
          <option value="29" {% if enddate.day == 29 %} selected {% endif %}>29</option>
          <option value="30" {% if enddate.day == 30 %} selected {% endif %}>30</option>
          <option value="31" {% if enddate.day == 31 %} selected {% endif %}>31</option>
        </select>
      </div>
      <div class="col-sm-2">
        <select name="endM" class="form-control" selected="{{enddate.strftime('%m')}}">
          <option value="1"  {% if enddate.month == 1  %} selected {% endif %}>January</option>
          <option value="2"  {% if enddate.month == 2  %} selected {% endif %}>February</option>
          <option value="3"  {% if enddate.month == 3  %} selected {% endif %}>March</option>
          <option value="4"  {% if enddate.month == 4  %} selected {% endif %}>April</option>
          <option value="5"  {% if enddate.month == 5  %} selected {% endif %}>May</option>
          <option value="6"  {% if enddate.month == 6  %} selected {% endif %}>June</option>
          <option value="7"  {% if enddate.month == 7  %} selected {% endif %}>July</option>
          <option value="8"  {% if enddate.month == 8  %} selected {% endif %}>August</option>
          <option value="9"  {% if enddate.month == 9  %} selected {% endif %}>September</option>
          <option value="10" {% if enddate.month == 10 %} selected {% endif %}>October</option>
          <option value="11" {% if enddate.month == 11 %} selected {% endif %}>November</option>
          <option value="12" {% if enddate.month == 12 %} selected {% endif %}>December</option>
        </select>
     </div>
     <div class="col-sm-2">
       <select name="endY" class="form-control" selected='{{enddate.strftime('%Y')}}'>
         {% for year in years %}
         <option value="{{year}}" {% if enddate.year == year %} selected {% endif %}>{{year}}</option>
         {% endfor %}
       </select>
     </div>
   </div>
   <div class="form-group">
      <div class="col-sm-offset-3">
        <button type="submit" class="btn btn-default">Next ></button>

        <a button type="button" class="btn btn-danger btn-md" href="delete_job?job={{jobid}}"
           onclick="return confirm('Are you sure to delete the job {{jobname}}?')"
           role="button">Delete Job "{{jobname}}"</a>
       </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
