{% extends "layout.html" %}

{% block body %}
<div class ="container">
    <div class="row">
      <!-- the p class has to exist before, because innerHTML is changed by javascript that is following -->
      <p class="text-left"> Unfortunately, submitting the new job data was not successful. Please repeat the procedure
        <a href="edit_job?job={{jobname|urlencode}}"> here </a>

    </div>
</div>



    <!--  <?php

      // list all entered jobs for student and get total number of hours
      $abfrage = "SELECT name FROM job WHERE student = '$student'";
      $ergebnis = $db->query($abfrage);
      $i = 0;
      // for each job, generate a button containing job name with unique id.
      while($row = $ergebnis->fetch_assoc())
      {
        echo "<button type=\"button\" name=\"" . $row['name'] . "\" id =\"select".$row['name']."\" class=\"btn btn-default\">". $row['name'] . "</button>";
        echo "
        <script>
        $('#select".$row['name']."').on('click', function () {
                 var uri= encodeURIComponent(this.name);
                 $(location).attr('href', \"index.php?job=\"+uri);
                 return false;
        });
        </script>";
        $i = $i+1;
      }
    ?>
  -->
      </div>
    </div>
</div>
{% endblock %}
