<!DOCTYPE html>
<!--PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <meta charset="utf-8">

  <title>Enter working hours</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">

  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="js/ie10-viewport-bug-workaround.js"></script>

  <!-- dhtmlx -->
  <script src="dhtmlx/codebase/dhtmlxscheduler.js" type="text/javascript"></script>
  <script src="dhtmlx/codebase/ext/dhtmlxscheduler_collision.js"></script>
  <script src="dhtmlx/codebase/ext/dhtmlxscheduler_limit.js"></script>
  <link rel="stylesheet" href="dhtmlx/codebase/dhtmlxscheduler.css" type="text/css">

</head>
<body>
  <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- logo , fixed width/margin, class pull-left important -->
            <a class="pull-left" href="main"><img style="max-width:35px; margin-top: 5px;" src="svg/clock.svg"></a>
          </div>
          <!-- links to different pages -->
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="create_job">Create New Job</a></li>
              <li><a href="https://gitlab.gwdg.de/jschulz1/time-sheet" target="_blank">Manual</a></li>
              <li><a href="contact.html" target="_blank">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
  </nav>

{% block body %}{% endblock %}
  <!--<?php

    // list all entered jobs for student and get total number of hours
    $abfrage = "SELECT name FROM job WHERE student = '$student'";
    $ergebnis = $db->query($abfrage);
    $i = 0;
    // for each job, generate a button containing job name with unique id.
    while($row = $ergebnis->fetch_assoc())
    {
      echo "<button type=\"button\" name=\"" . $row['name'] . "\" id =\"select".$row['name']."\" class=\"btn btn-default\">". $row['name'] . "</button>";
      echo "
      <script>
      $('#select".$row['name']."').on('click', function () {
               var uri= encodeURIComponent(this.name);
               $(location).attr('href', \"index.php?job=\"+uri);
               return false;
      });
      </script>";
      $i = $i+1;
    }
  ?>-->
</body>
