{% extends "layout.html" %}

{% block body %}
<div class ="container">
    <div class="row">
      <!-- the p class has to exist before, because innerHTML is changed by javascript that is following -->
      <p class="text-left" id="welcome">
      <h3>Welcome <strong>
      {{firstname}} {{lastname}}
      </strong></h3></p>
    </div>
</div>
<br>

<div class ="container">
    <div class="row">
    <!-- new container listing all available jobs as buttons -->
      <div class="col-sm-6">
        {% for (job,id) in jobs %}
        <a button type="button" class="btn btn-default btn-md {% if current|string() == id|string() %} active {% endif %}"
           href="main?job={{id}}" role="button">{{job}}</a>
        {% endfor %}
      </div>
      <div class="col-sm-offset-9">
        <a button type="button" class="btn btn-primary btn-md" href="edit_job?job={{current|urlencode}}"
           role="button">Edit/Delete Job</a>
      </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
          <p class="text-left"> <strong>Start:</strong> {{startdate.strftime('%d.%m.%Y')}} <strong>End:</strong> {{enddate.strftime('%d.%m.%Y')}}</p>
          <p class="text-left">
            Hours (this month): <strong style="color:blue"><span id="done_this_month"></span> / <span id="due_this_month"></span></strong> <br>
            Hours (total): <strong style="color:blue"><span id="done_total"></span> / {{working_hours}}</strong>
          </p>
        </div>
    </div>
</div>

<div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:600px;'>
  <div class="dhx_cal_navline">
      <div class="dhx_cal_prev_button">&nbsp;</div>
      <div class="dhx_cal_next_button">&nbsp;</div>
      <div class="dhx_cal_today_button"></div>
      <div class="dhx_cal_date"></div>
      <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
      <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
      <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
  </div>
  <div class="dhx_cal_header"></div>
  <div class="dhx_cal_data"></div>
</div>

<script type="text/javascript">
var due_per_month = {{hours_per_month|safe}};

function update_hours(cdate) {
  if (cdate == undefined) {
    cdate = scheduler.getState().date;
  }
  var idx = 12 * cdate.getYear() + cdate.getMonth();
  var due_this_month = due_per_month[idx] || 0;
  document.getElementById('due_this_month').innerHTML = due_this_month;

  var done_this_month = 0;
  var evs = scheduler.getEvents(new Date(cdate.getFullYear(), cdate.getMonth(), 1),
                                new Date(cdate.getFullYear(), cdate.getMonth()+1, 1));
  for (x in evs) {
    done_this_month += Math.round((evs[x].end_date - evs[x].start_date) / 3.6e4);
  }
  document.getElementById('done_this_month').innerHTML = done_this_month / 100;

  var evs = scheduler.getEvents();
  var done_total = 0;
  for (x in evs) {
    done_total += Math.round((evs[x].end_date - evs[x].start_date) / 3.6e4);
  }
  document.getElementById('done_total').innerHTML = done_total / 100;
}

scheduler.config.xml_date = "%Y-%m-%d %H:%i";
scheduler.config.limit_start = {{startdate.strftime('new Date(%Y,%m-1,%d)')}};
scheduler.config.limit_end = {{enddate.strftime('new Date(%Y,%m-1,%d+1)')}};
scheduler.config.display_marked_timespans = true;

scheduler.attachEvent("onLimitViolation", function (id, obj) {
    dhtmlx.message('You cannot create events outside the job.');
});

scheduler.ignore_week = function (date) {
  if (date.getDay() == 0) // hide sunday
    return true;
};

scheduler.attachEvent("onBeforeViewChange", function (old_mode, old_date, new_mode, new_date) {
  update_hours(new_date);
  return true;
});

scheduler.init('scheduler_here', new Date(), 'week');
scheduler.load('api/dhtmlx/{{current}}', 'json', update_hours);

var dp = new dataProcessor("api/dhtmlx/{{current}}/");
dp.init(scheduler);
dp.setTransactionMode("REST", false);
dp.attachEvent("onAfterUpdateFinish", update_hours);
</script>
{% endblock %}
