{% extends "layout.html" %}
{% block body %}

  <h3>Downloads für den Job "{{job}}" von {{ firstname }} {{ lastname }} ({{username}})</h3><br/>
  <p>Die PDF-Dateien werden am Anfang des Monats für den jeweils vorherigen Monat
     erstellt. Mit dem Button können sie bei Datenänderungen
     alle PDF-Dateien dieses Jobs neu erstellen lassen um diese entsprechend zu aktualisieren.
  </p>
  <br><br><br>
  {% for month in month %}
  <a href="downloads/{{month}}/job_{{job}}_{{username}}.pdf">{{month}}</a>
  <br><br>
  {% endfor %}
  <a href="downloads/{{lastmonth}}/job_{{job}}_{{username}}_final.pdf">Finale Uebersicht</a>




{% endblock %}


{% block yearspossible %}
<br/><br/><br/><br/>
<p class="text_fak_overview"><ul class="linkmenu">
<li><a href="../{{job_id}}">Zurück</a></li>
</ul></p>

{% endblock %}


{% block editmode %}


{% endblock %}
