{% extends "layout.html" %}
{% block body %}

  <h3>Error!</h3><br/>
  <p>Unter der angegebenen Adresse existiert keine Seite. Bitte gehen Sie zurück auf die
    <a href='.'>Startseite.</a>
  </p>

{% endblock %}


{% block yearspossible %}


{% endblock %}


{% block editmode %}


{% endblock %}
