{% extends "layout.html" %}

{% block title %}
 {{facultyname}}
{% endblock %}

{% block body %}
  <p>
    Hier finden Sie alle aktiven Jobs von SHKs an der Fakultät. Aktiv sind diejenigen Jobs,
    dessen Verträge im aktuellen Zeitpunkt noch laufen.
  </p>
  <br><br>
  <table cellspacing="0" width="98%">
    <tr>
      <th align="center" width="20%" bgcolor="#E2E5F0"><b>Job-Page</b></th>
      <th align="center" width="30%" bgcolor="#E2E5F0"><b>Name</b></th>
      <th align="center" width="40%" bgcolor="#E2E5F0"><b>E-Mail</b></th>
    </tr>

   {% for (firstname, lastname, email, username) in students %}
    <tr>
      <td align="center"><a href="{{fid}}/students/{{username}}">{{username}}</a></td>
      <td align="center">{{firstname}} {{lastname}}</td>
      <td align="center">{{email}}</td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}


{% block yearspossible %}
<br/><br/><br/><br/>
  <p class="text_fak_overview"><ul class="linkmenu">
  <li><a href=".">Zurück</a></li>
  <li><a href="{{fid}}/all-students">Alle Studenten (auch mit vergangenen Jobs)</a></li>
  </ul></p>
{% endblock %}
