{% extends "layout.html" %}

{% block title %}
  Time-Sheet-Admin
{% endblock %}


{% block body %}
  <p>
    Herzlich Willkommen im Administrationssystem für die Arbeitszeiterfassung
    studentischer Hilfskräfte (SHKs) an der Universität Göttingen.
  </p>
  <br/>
  <p>
    Über das Menü auf der linken Seite haben Sie die Möglichkeit auf die
    Arbeitszeiten der SHKs an der jeweiligen Fakultät zuzugreifen. Der LogIn
    erfolgt mit ihrem Benutzeraccount von der GWDG.
  </p>
  <br/>
  <p>
    Bei Fragen und Problemen ist Support via
    <a href="mailto:admin@math.uni-goettingen.de">E-Mail</a> oder telefonisch
    (0551/39-4525) möglich.
  </p>








{% endblock %}


{% block yearspossible %}
<br/><br/><br/><br/>
<p class="text_fak_overview"><ul class="linkmenu">

{% for (name, id) in data %}
<li><a href="/time-sheet-admin/{{id}}">{{name}}</a></li>
{% endfor %}
</ul></p>

{% endblock %}


{% block editmode%}



{% endblock%}
