{% extends "layout.html" %}
{% block body %}
  <ul class=entries>
  <form enctype="multipart/form-data" action="?y={{year_now}}" method="POST">
	<input type="hidden" name="MAX_FILE_SIZE" value="100000000" />
 	<table cellspacing="0" width="100%">
	<thead><tr><th align="center" bgcolor="#E2E5F0" colspan="6"><font color="#000066"><h3>{{year_now}}</h3></font></th></tr></thead>
	<tr>
		<td align="center" width="10%" bgcolor="#E2E5F0"><b>No.<b></td>
		<td align="center" width="35%" bgcolor="#E2E5F0"><b>Authors</td>
		<td align="center" width="42%" bgcolor="#E2E5F0"><b>Title</td>
		<td align="center" width="3%" bgcolor="#E2E5F0"><b>Change PDF</td>
		<td align="center" width="3%" bgcolor="#E2E5F0"><b>Delete PDF</td>
		<td align="center" width="3%" bgcolor="#E2E5F0"><b>Delete Entry</td>
	</tr>
	
	<input type="hidden" name="type_request" value='body' /> 
	<input type="hidden" name="year" value="{{year_now}}" /> 
	
	{% for (ids, authors, title, year, nr, published) in data %}
	<tr>
		<td>{{year}}-{{nr}}
	<select name="nyear" size="1">
	{% for year in range(year_now -1, year_now +3) %}
        	<option {% if year == year_now %} selected="" {% endif %} value="{{year}}">{{year}}</option>
	{% endfor %}
        </select>

	<select name="nnr">
	{% for value in range(1, 100) %}
                <option {% if value == nr %} selected="" {% endif %} value="{{value}}">{{value}}</option>
	{% endfor %}
	</select>
	<input type="hidden" name="id" value="{{ids}}"/><input type="hidden" name="nr" value="{{nr}}"/>
		</td>

		<td>{{authors}}</td>
		<td>{{title}}</td>
		<td>Select new PDF: <br /><input name="uploadedpdf_new" type="file" size="70" style="font-size:9px" value="{{ids}}" /><br /> </td>
		<td> {% if published == 1 %} <a href="/preprints/files/{{year}}-{{nr}}.pdf"><img src="../pdf.gif" alt="download" /></a>delpdf<input type="checkbox" name="delpdf" value="{{year}}-{{nr}}" /> {% endif %} </td>
		<td><input type="checkbox" name="del" value="{{ids}}"/></td>
	</tr>
	{% endfor %}
	</table><br />
<p>Avoid performing more than one changes per run!</p><br />
<input type="submit" value="change entries" /><input type="reset" value="dismiss changes" />
</form>

{% endblock %}


{% block yearspossible %}

<p class="text_fak_overview"><ul class="linkmenu">

{% for (year,) in years %}
<li><a {% if year == year_now  %} style="font-weight:bold" {% endif %}
 href="?y={{year}}">{{year}}</a></li>
{% endfor %}
</ul></p>

{% endblock %}


{% block edit_head %}
<h2>EDIT-Version</h2><br/>
You are logged in as <b>{{user}}</b>. Please be careful before submitting any changes.<br/>
<h3>New Entry</h3><br/>
<form enctype="multipart/form-data" action="edit&upload=true" method="POST">
<input type="hidden" name="type_request" value='head' /> 
<input type="hidden" name="MAX_FILE_SIZE" value="100000000" />
Select preprint (PDF): <br /><input name="uploadedpdf" type="file" size="70" /><br />
Authors (comma separated with shortened forename) <br /> <input type="text" name="authors" size="70" /><br />
Title: <br /><input type="text" name="title" size="70" /><br />
Year: <br /><select size="1" name="year">
{% for year in range(year_now, year_now +3) %}
        <option {% if year == year_now %} selected="" {% endif %} value="{{year}}">{{year}}</option>
{% endfor %}
</select><br /><br />
<input type="submit" value="Upload preprint" /><br />
</form><br />

<h3>edit entries</h3><br />
<p>'recreate' recreates front and back page. 'delpdf' only deletes the *.pdf file. A checked checkbox in 'DEL' removes the whole entry.
Caution: changing a year keeps the same number if no other number is assigned. Therefore please also check the new number!</p>

{% endblock %}
