{% extends "layout.html" %}

{% block title %}
 {{facultyname}}
{% endblock %}

{% block body %}
<p>Details zum Job {{job}} von {{firstname}} {{lastname}} ({{username}}) an der Fakultät:
</p>
<br/><br/>
<table cellspacing="0" width="100%">
  <thead><tr><th align="center" bgcolor="#E2E5F0" colspan="5"><font color="#000066"><h3>{{faculties}}</h3></font></th></tr></thead>
  <tr>
          <th align="center" width="35%" bgcolor="#E2E5F0"><b>Zeitraum</b></th>
          <th align="center" width="25%" bgcolor="#E2E5F0"><b>gearbeitete Stunden</b></th>
          <th align="center" width="15%" bgcolor="#E2E5F0"><b>zu arbeitenende Stunden </b></th>
  </tr>

<tr>
<td align="center">Diesen Monat</td>
<td align="center">{{working_hours_tm}}</td>
<td align="center">{{due_hours_tm}}</td>
</tr>

<tr>
  <td align="center">Letzten Monat</td>
  <td align="center">{{working_hours_lm}}</td>
  <td align="center">{{due_hours_lm}}</td>
</tr>

<tr>
  <td align="center">Insgesamt</td>
  <td align="center">{{working_hours_total}}</td>
  <td align="center">{{due_hours_total}}</td>
</tr>
</table>
<!-- Erstmal nicht notwendig
<br>
<p> <a href="{{fid}}/students/{{username}}/{{job_id}}/hours_edit"> Anpassung der Arbeitsstunden je Monat</a></p> -->
<br>
<p><input type="button" name="Verweis" value="Stundenzettel für diesen Job herunterladen"
     onClick="location.href='{{job_id}}/downloads'"></p>
<p> Eine E-Mail an <a href="mailto:{{email}}?Subject=Ihr Job: {{job}}&body={{mailbody}}" target="_top">{{firstname}} {{lastname}} ({{username}})</a> schicken.</p>
{% endblock %}

{% block yearspossible %}
  <br/><br/><br/><br/>
  <p class="text_fak_overview"><ul class="linkmenu">
  <li><a href="../{{username}}">Zurück</a></li>
  </ul></p>
{% endblock %}
