<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
        <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                <title>Time-Sheet-Admin
		</title>

                <script src="https://www.uni-goettingen.de/js/initialization.js" type="text/javascript"></script>
                <!--<script src="/js/fontsize.js" type="text/javascript"></script>-->
                <script src="https://www.uni-goettingen.de/js/stylechanger.js" type="text/javascript"></script>

                <script src="https://www.uni-goettingen.de/js/dw_sizerdx.js" type="text/javascript"></script>

                <script type="text/javascript">

                        var aktuelle_section = "fak_kategorie_2";

                        dw_fontSizerDX.setDefaults( "px", 12, 9, 19, ['body', 'td', 'div', 'p', 'font', 'a'] );
                        dw_fontSizerDX.set(14, 11, 21, ['span'] );
                        dw_fontSizerDX.set(15, 15, 15, ['ul#navigation li a'] );
                        dw_fontSizerDX.set(20, 20, 20, ['div#header_name a'] );
                        dw_fontSizerDX.set(11, 11, 11, ['font.seite'] );
                        dw_fontSizerDX.set(11, 11, 11, ['ul#pfad li a'] );
                        dw_fontSizerDX.set(11, 11, 11, ['a.suchlink'] );
                        dw_fontSizerDX.set(16, 16, 16, ['font.boxueberschrift'] );
                        dw_fontSizerDX.set(11, 11, 11, ['ul.footerlist-left li a'] );
                        dw_fontSizerDX.set(11, 11, 11, ['ul.footerlist-right li a'] );

                        addLoadEvent( dw_fontSizerDX.init );

                </script>

                <link href="https://www.uni-goettingen.de/stylesheets/fak-inst.css" rel="stylesheet" title="default" media="screen, projection" type="text/css" id="style_1">
                <link href="https://www.uni-goettingen.de/stylesheets/kategorie_2.css" rel="stylesheet" title="default" type="text/css" media="screen, projection" id="style_2">
                <link href="https://num.math.uni-goettingen.de/default/pub.css" rel="stylesheet" title="default" type="text/css" id="style_3">

                                <!--[if IE]>
        <link href="http://www.uni-goettingen.de/stylesheets/ie7.css" rel="stylesheet" title="default" media="screen, projection" type="text/css">
  <![endif]-->

                                <!--[if lt IE 7]>
        <link href="http://www.uni-goettingen.de/stylesheets/ie5.css" rel="stylesheet" title="default" media="screen, projection" type="text/css">
  <![endif]-->

                                <!--[if IE 6]>
        <link href="http://www.uni-goettingen.de/stylesheets/ie6.css" rel="stylesheet" title="default" media="screen, projection" type="text/css">
  <![endif]-->

                        </head>

        <body>



                <div id="rumpf" style="min-height:680px;width: 985px" >
                        <div id="contentwrapper">
                                <div id="rechtespalte" style="padding-right: 10px;" >
                                        <div class="innen_content">

<div class=page>
  <h2>{% block title %}{% endblock %}</h2><br/><br/>

	{% block edit_head %}{% endblock %}
  {% block body %}{% endblock %}
</div>


</div>
</div>
</div>
<div id="linkespalte" style="margin-left: -985px">
        <div class="innen">

{% block yearspossible %}{% endblock %}

</div>
</div>

<br style="clear: both;"/>
</div>


</body>
</html>
