{% extends "layout.html" %}
{% block body %}

  <h3>Erfolg!</h3><br/>
  <p> Die PDF-Dateien für den Job {{job}} von {{firstname}} {{lastname}} ({{username}}) wurden erfolgreich aktualisiert.
  </p>

{% endblock %}


{% block yearspossible %}
<br/><br/><br/><br/>
<p class="text_fak_overview"><ul class="linkmenu">
<li><a href="{{fid}}/students/{{username}}/{{job_id}}/downloads">Zurück</a></li>
</ul></p>



{% endblock %}


{% block editmode %}


{% endblock %}
