{% extends "layout.html" %}

{% block title %}
  {{facultyname}}
{% endblock %}


{% block body %}
<p>Jobs von {{firstname}} {{lastname}} ({{username}}) an der Fakultät</p>
<br/><br/>
<ul class=entries>
  <table cellspacing="0" width="100%">
    <tr>
            <th align="center" width="35%" bgcolor="#E2E5F0"><b>Jobname</b></th>
            <th align="center" width="25%" bgcolor="#E2E5F0"><b>Working Hours (this month)</b></th>
            <th align="center" width="15%" bgcolor="#E2E5F0"><b>Start Date</b></th>
            <th align="center" width="15%" bgcolor="#E2E5F0"><b>End Date</b></th>
    </tr>

{% for (name, job_id, startDate, endDate, hours) in jobs %}
<tr>
  <td align="center"><a href="{{username}}/{{job_id}}">{{name}}</td>
  <td align="center">{{hours}}</td>
  <td align="center">{{startDate.strftime('%d-%m-%Y')}}</td>
  <td align="center">{{endDate.strftime('%d-%m-%Y')}}</td>
</tr>
{% endfor %}
</table>
{% endblock %}




{% block yearspossible %}
  <br/><br/><br/><br/>
  <p class="text_fak_overview"><ul class="linkmenu">
  <li><a href="../../{{fid}}">Zurück</a></li>
  </ul></p>
{% endblock %}
